<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
</ActionBar>
<ScrollView orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto, auto">
        <StackLayout row="0" class="p-10 border">
            <Label class="h3" text="Contact Information"></Label>
            <StackLayout class="m-t-20 m-l-30">
                <Label class="body" text="121, Clear Water Bay Road"></Label>
                <Label class="body" text="121, Clear Water Bay Road"></Label>
                <Label class="body" text="Clear Water Bay, Kowloon"></Label>
                <Label class="body" text="Clear Water Bay, Kowloon"></Label>
                <Label class="body" text="HONG KONG"></Label>
                <Label class="body" text="Call: +852 1234 5678"></Label>
                <Label class="body" text="Fax: +852 1234 5678"></Label>
                <Label class="body" text="Email:confusion@food.net"></Label>
            </StackLayout>
        </StackLayout>
        <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
            <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="callRestaurent()"></Button>
            <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
        </GridLayout>
    </GridLayout>
</ScrollView>
